-i https://pypi.org/simple
-e git+https://github.com/marxide/skymapper.git#egg=skymapper
-e git+https://github.com/telegraphic/PyGSM.git#egg=pygsm
networkx < 2.4
mocpy
pymangle
healpy
seaborn
pandas
numpy
astropy
regions
matplotlib
h5py
scipy
astropy-healpix 